<h1>Edit User</h1>

<!-- <form #formValues="ngForm" (ngSubmit)="handleSubmit(formValues.value)"> -->
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name :</label>
    <input
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="myUser.name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">City :</label>
    <input
      type="text"
      class="form-control"
      name="city"
      [(ngModel)]="myUser.city"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email :</label>
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="myUser.email"
    />
  </div>

  <!-- <a routerLink="/user" class="btn btn-primary" (click)="onSubmit()"> -->
  <a routerLink="/user" class="btn btn-primary"> Submit </a>
</form>
